<!DOCTYPE html>
<html>
<%#
 HTML Template based on: https://learn.co/lessons/sinatra-views
 ERB Basics from: https://www.stuartellis.name/articles/erb/
%>
<%
    @title = 'Sidekiq & Sinatra simple app'
%>
  <head>
    <title><%= h @title %></title>
<style>
  body {
    font-family: Verdana, Helvetica, sans;
    font-size: small;
  }
  h3 {
    color: white;
    background: black;
    margin: 0;
    padding: 10px;
  }
  h3 a {
    color: #0ff;
  }
  #footer {
    border-top: 1px solid black;
    font-size: x-small; 
  }
</style>
  </head>
  <body>
    <h3><a href="/">Home</a> | <%= h @title %> </h2>

    <%= yield %>

    <div id="footer">
    Today is: <%= h Time.now.strftime('%c')  %>
    </div>
  </body>
</html>
